
*{margin:0;
  padding:0;
  font-family: sans-serif;}

.hero{
    position:relative;
    width: 100%;
    height: 100vh;
    /* background: #aca890;  */
   
}
#LOGO{
    width: 250px;
    height: 250px;
        display: block;
        margin-left:-10px;
        margin-top: -60px;
       }

header{
    display: flex;
    position: absolute;
    width: 84%; 
    margin: auto;
    padding:20px 0;
    align-items: center;
    justify-content: space-between;
    
}

header ul li{
    display:inline-flex;
    list-style: none;
    margin: 100px 20px; 
    margin-top: -150px;  
}

header ul li a{
    text-decoration:none;
    color: #000;
    font-weight: bold;
    transition: 0.5s;
    position:sticky;
}

header ul li a:hover{
 color:rgb(229, 135, 27) ;
 font-size: 115% ;
}

.detal{
    position: absolute;
    margin-left: 8%;
    margin-top: 300px;
}

.detal h1{
font-size: 50px;
color: #320C0C;
margin-bottom: 20px;
}

span{
    color:rgb(229, 135, 27) ;
    font-family:'Pacifico', 'Arial narrow ' , sans-serif;
    font-weight: lighter;
    transition: all 0.5s;
}

span:hover{
    -webkit-text-stroke:2px #000  ;
color: transparent;
}

 .detal p{
    color: rgb(52, 46, 42);
    line-height: 24px ;
 }

.detal a{
    background:rgb(32, 14, 0);
    padding: 10px 18px;
    text-decoration: none;
 font-weight: bold;
 color:rgb(235, 219, 202);
 display: inline-block;
 margin:30px 0px;
 border-radius: 9px;
 
}
.detal a:hover{
    background-color:rgb(58, 20, 20) ;  
}

.back{
    position:absolute;
    right: 0;
    bottom: 0;
  
}
    @media (min-aspect-ratio:16/9){
        .back{
            width: 100%;
            height: auto;
        }
    }
    @media (max-aspect-ratio:16/9){
        .back{
            width: auto;
            height: 100%;
        }
    }
    